/ProgrammingWithFork/build/
/ProgrammingWithFork/dist/
/KinectNetbeans/build/
/KinectNetbeans/dist/
/Project_4/dist/
/Project_4/build/
/Delete/dist/
/Delete/build/
/Homeword_4_2/build/
/Homeword_4_2/dist/